.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: rgb(242, 242, 242);
    background: linear-gradient(
        90deg,
        rgba(242, 242, 242, 1) 0%,
        rgba(96, 94, 95, 1) 100%
    );
    padding-top: 3rem;
    line-height: 1.2;

    .card-item {
        display: flex;
        margin: 1rem;
        flex-direction: column;
        padding: 2rem 1.75rem;
        background: rgb(62, 2, 130);
        background: linear-gradient(
            90deg,
            rgba(62, 2, 130, 1) 63%,
            rgba(0, 0, 0, 1) 100%
        );
        color: white;
        border-radius: 20px;

        &:hover {
            background-color: #ddd;
        }

        .card-img {
            height: 350px;
            width: 100%;
            margin-bottom: 1.2rem;
            border-radius: 10px;
        }

        .info {
            padding-bottom: 1rem;
            font-size: 1.2rem;
            color: rgb(200, 200, 200);
        }

        .title {
            font-weight: bolder;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            line-height: 2rem;
        }

        .content {
            padding-bottom: 1rem;
            line-height: 1.5rem;
            word-spacing: 5px;
        }
    }
}

// Responsiveness
@media (min-width: 900px) and (max-width: 1200px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
        line-height: 1.35;
    }
}

@media (min-width: 650px) and (max-width: 900px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        line-height: 1.5;
    }
}

@media (max-width: 650px) {
    .card-list {
        grid-template-columns: 1fr;
        line-height: 1.6;
    }
}
